.calendar {
    border-radius: $radius;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.133) 0%, rgba(255, 255, 255, 0) 100%);    
    .row {
        border-radius: $radius;
    }
    .day {
        // Relative for .booked:after element - purple dot
        position: relative;
        height: 30px;
        width: 30px;
        // font-size: 10px;
        margin: 0.2rem;
        border-radius: $radius-max;
        &:hover:not(.deactivated), &.active, &.today:not(.deactivated) {
            cursor: pointer;
            font-weight: 900;
            font-size: 1rem;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.133) 0%, rgba(255, 255, 255, 0.113) 100%);
            @media($xs) {
                min-width: 40px;
            }
            @media($sm) {
                min-width: 50px;
            }
        }
        &:hover:not(.deactivated), &.active {
            box-shadow: 
                inset 0 0 0.75em 0 $accent-100,
                0 0 1em 0 $accent-100;
            -webkit-box-shadow: 
                inset 0 0 0.75em 0 $accent-100,
                0 0 1em 0 $accent-100;
        }
        &.deactivated {
            color: $accent-100;
            background-color: rgb(128, 128, 128, 0.2);
        }
        &.booked:after {
            @include dot($booked);
            position: absolute;
            top: 0.2rem;
            right: 0.2rem;
            @media($xs) {
                top: 0.4rem;
                right: 0.3rem;
            }
            @media($sm) {
                top: 0.7rem;
                right: 0.4rem;
            }
        }
        @media($xs) {
            min-height: 40px;
            margin: 0.5rem;
        }
        @media($sm) {
            min-height: 50px;
        }
    }
    .weekdays {
        div {
            padding: 0 0.5rem;
            @media($xs) {
                padding: 0 0.8rem;
            }
            h3 {
                font-size: 1rem;
                border-bottom: 1px solid $accent-100;
                font-weight: 900;
                color: $accent-100;
            }
        }
    }
}