// * {
//     outline: 1px solid pink;
// }
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $accent-300;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}
main {
    padding: 0 1rem;
}
.main {
    max-width: 33rem;
    margin: auto;
}
a {
    text-decoration: none;
    > * {
        color: $p-white;
    }
    &:hover {
        cursor: pointer;
    }
}
i {
    color: $p-white;
}
.hidden {
    display: none;
}
.link {
    text-decoration: underline;
    color: $accent-100;
    cursor: pointer;
}



